
body {
  margin: 10px;
}

.container {
    background-image: linear-gradient(deepskyblue, cornflowerblue); 
    width: 90%;    
}

h1 {
    text-align: center;
}

.zaglavlje {
  margin-left: 5px;
  margin-right: 5px;   
}


#prvoDugme:hover {
  background-color: orange;
}

ul {
  list-style-type: none;
  padding: 5px;
  color: white;
}

ul li {
  margin-bottom: 20px;
}

ul li:nth-child(even) {
  background-color: cornflowerblue;
}

ul li:hover {
  background:lightblue;
}
ul li.checked {
  text-decoration: line-through;
}

button {
  padding: 5px;
  float: right;
}

button:hover {
  background-color: red;
  color: white;
  font-weight: bold;
}




